$BLOCK_SIZE: 3.2rem;
$BLOCK_FONT_SIZE: 2.13rem;
html,
body {
    height: 100%;
    margin: 0;
    font-family: "Clear Sans","Helvetica Neue",Arial,"Microsoft Yahei",SimSun;
}

.clear-fix{
    &:after{
        display: 'table';
        clear: both;
    }
}

.background-wrapper {
    padding: 2rem 0.5rem 1rem 0.5rem;
    background-color: rgb(235,235,235);
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.wrapper {
    background-color: rgb(187, 173, 160);
    position: relative;
}

.block {
    position: absolute;
    background-color: rgb(238, 228, 218);
    height: $BLOCK_SIZE;
    width: $BLOCK_SIZE;
    line-height: $BLOCK_SIZE;
    text-align: center;
    font-size: $BLOCK_FONT_SIZE;
    z-index: 3;
}

.block.dark {
    background-color: rgb(187, 173, 160);
}

.btn {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: inline-block;
}

.animate {
    position: absolute;
    background-color: rgb(238, 228, 218);
    height: $BLOCK_SIZE;
    width: $BLOCK_SIZE;
    line-height: $BLOCK_SIZE;
    text-align: center;
    font-size: $BLOCK_FONT_SIZE;
    z-index: 99;
}
.info-wrapper{
    height:3rem;
}

.info-wrapper .info {
    display: inline-block;
    &:nth-child(1){
        float: left;
        font-size: 1.3rem;
        color: #776E65;
    }
    &:nth-child(3){
        margin-right: 0.5rem;
    }
    &:nth-child(2),
    &:nth-child(3) {
        font-size: 0.8rem;
        width: 3.3rem;
        padding: 0.3rem;
        background: #af9c8e;
        float: right;
        color: white;
    }
}

.block.dark {
    background-color: rgb(187, 173, 160)
}

.block.val2 {
    background-color: rgb(238, 228, 218);
}

.block.val4 {
    background: #ece0c8;
}

.block.val4,
.block.val2 {
    color: #776E65;
}

.block.val8,
.block.val16,
.block.val32,
.block.val64,
.block.val128,
.block.val256,
.block.val512,
.block.val1024,
.block.val2048 {
    color: white;
}

.block.val8 {
    background: #f2b179;
}

.block.val16 {
    background: #f59563;
}

.block.val32 {
    background: #f57c5f;
}

.block.val64 {
    background: #f65d3b;
}

.block.val128 {
    background: #edce71;
}

.block.val256 {
    background: #edcc61;
}

.block.val512 {
    background: #ecc850;
}

.block.val1024 {
    background: #edc53f;
}

.block.val2048 {
    background: #eec22e;
}

.block.val4096 {
    background: #a6c;
}
